menuconfig BLE
    bool "Bluetooth Low Energy Stack"
    select EVT
    select NVDS
    select PM
    default y

if BLE
    config BLE_MESH
        bool "BLE Mesh"
        depends on BLE_CONTROLLER
        depends on BLE_HOST
        depends on FREE_RTOS
        default n
    orsource "controller/Kconfig"
    orsource "host/Kconfig"

endif
