
# Kconfig file for CherryUSB
menuconfig BLE_CONTROLLER
    bool "BLE controller stack"
    default y

if BLE_CONTROLLER
    choice
        prompt "library"
        default BLE_CONTROLLER_LIB_FULL
    config BLE_CONTROLLER_LIB_1PERIPHERAL
        bool "Only 1 BLE Peripheral"
    config BLE_CONTROLLER_LIB_FULL
        bool "Full BLE Function, support no more than 8 connections"
    config BLE_CONTROLLER_LIB_FULL_PLUS
        bool "Full BLE Function, support more than 8 connections"
    config BLE_CONTROLLER_LIB_VELA_MESH
        bool "For Vela Mesh Zephyr Host"
    endchoice
endif

