
# source SDK Kconfig
source "$(SDK_DIR)/Kconfig"

menu "Project"

choice
    prompt "Code Execute in place"
    default XIP_FLASH
config XIP_RAM
    bool "RAM"
config XIP_FLASH
    bool "FLASH"
config XIP_ROM
    bool "ROM"
endchoice

config OM_ASSERT
    bool "Enable assert check"
    default y

config MEM_NUM
    int "Number of Heap Region"
    default 1

orsource "*/Kconfig"
endmenu
