menuconfig OM_LOG
    bool "log"
    default n

if OM_LOG
    choice
        prompt "log retarget"
        default OM_LOG_TO_SHELL

        config OM_LOG_TO_SHELL
            bool "shell"
            select SHELL
        config OM_LOG_TO_RTT
            bool "rtt"
            select SEGGER_RTT
        config OM_LOG_TO_UART
            bool "uart"
        config OM_LOG_TO_FLASH
            bool "flash"
    endchoice

    if OM_LOG_TO_UART
        config OM_LOG_UART_IDX
            int "uart index"
            default 1
        config OM_LOG_UART_BAUDRATE
            int "uart baudrate"
            default 115200
    endif

    if OM_LOG_TO_FLASH
        choice
            prompt "flash type"
            default OM_LOG_FLASH_INTERNAL

            config OM_LOG_FLASH_INTERNAL
                bool "iflash"
            config OM_LOG_FLASH_EXTERNAL
                bool "oflash"
        endchoice
        config OM_LOG_FLASH_ADDR
            hex "flash address to save log(4K aligned)"
            default 0xFF000
        config OM_LOG_SAVE_SIZE
            int "flash and ram area size for log saving"
            default 1024
    endif

    config OM_LOG_TIME
        bool "log time output enable"
        default n
    config OM_LOG_FILTER_LEVEL
        int "log filter level(0:assert 1:error 2:warn 3:info 4:debug 5:none)"
        range 0 5
        default 5
    config OM_LOG_LINE_MAX
        int "log line maximum length"
        default 256
endif
