config PM
    bool "Power Manager"
    default y

if PM
config PM_CHECKER_NUM
    int "Num of checker before sleep"
    default 4
config PM_STORE_CALLBACK_NUM
    int "Num of store callbacks before sleep"
    default 6
endif
